USERMAP_UID=1000
USERMAP_GID=1000

PAPERLESS_URL=http://100.95.0.84:8000
PAPERLESS_TIME_ZONE=Europe/Helsinki
PAPERLESS_OCR_LANGUAGE=eng
PAPERLESS_OCR_LANGUAGES=fin sve

# Tailscale OIDC via tsidp
PAPERLESS_APPS=allauth.socialaccount.providers.openid_connect
PAPERLESS_SOCIALACCOUNT_PROVIDERS={"openid_connect":{"APPS":[{"provider_id":"tailscale","name":"Tailscale","client_id":"","secret":"","settings":{"server_url":"https://tsidp.tailfab2f.ts.net"}}]}}

# Uncomment and set if exposing publicly:
#PAPERLESS_SECRET_KEY=change-me
