USERMAP_UID=1000
USERMAP_GID=1000

PAPERLESS_URL=https://paperless.internal.mccrea.link
PAPERLESS_ALLOWED_HOSTS=paperless.internal.mccrea.link
PAPERLESS_CSRF_TRUSTED_ORIGINS=https://paperless.internal.mccrea.link
PAPERLESS_TIME_ZONE=Europe/Helsinki
PAPERLESS_OCR_LANGUAGE=eng
PAPERLESS_OCR_LANGUAGES=fin sve

# Tailscale OIDC via tsidp
PAPERLESS_APPS=allauth.socialaccount.providers.openid_connect
PAPERLESS_SOCIALACCOUNT_EMAIL_AUTHENTICATION=true
PAPERLESS_SOCIALACCOUNT_EMAIL_AUTHENTICATION_AUTO_CONNECT=true
PAPERLESS_SOCIALACCOUNT_PROVIDERS={"openid_connect":{"APPS":[{"provider_id":"tailscale","name":"Tailscale","client_id":"","secret":"","settings":{"server_url":"https://tsidp.tailfab2f.ts.net"}}]}}

# Uncomment and set if exposing publicly:
#PAPERLESS_SECRET_KEY=change-me
