USERMAP_UID=1000
USERMAP_GID=1000
PAPERLESS_TIME_ZONE=Europe/Helsinki
PAPERLESS_OCR_LANGUAGE=eng
PAPERLESS_OCR_LANGUAGES=
# Uncomment if exposing publicly:
#PAPERLESS_URL=https://paperless.example.com
#PAPERLESS_SECRET_KEY=change-me
